body {
    background-color: #E8F8F8;
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
}



header{
    z-index: 10;
    position: fixed;
    width: 100%;
    height: 8%;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #05445e; 
    height: 80px;
}

.fade-effect {
    position: fixed;
    top: 120px; 
    width: 100%;
    height: 30px;
    background: linear-gradient(to bottom, #05445e 100%, #E8F8F8 100%);
    z-index: 5;
  }
  
  

  

.logo {
    z-index: 6;
    top: 0;
    left: 0;
    position: fixed;
    height: 16%;
    width: auto; 
}

.header-title {
    flex-grow: 1;
    text-align: center;
    font-size: 50px; 
    font-weight: bold;
    color: #fff;
}

.container {
    padding-left: 1%;
    padding-top: 11%;
    background-color: #E8F8F8;
}

.member {
    border: 2px solid rgb(112, 135, 220);
    margin: 20px;

}

.member > * {
    margin: 20px;
}

.member > image {
    height: 50px;
    width: 50px;
}


.header-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #05445e;
    height: 40px;   
}

.header-nav a {
    z-index: 11;
    padding-bottom: 100px;
    margin: 0 10px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 15px;
    background-color: #0f76a2;
    padding: 10px 20px;
    transition: all 0.3s ease 0s;
    margin-top: 20px;
    margin-bottom: 10px;
}

.header-nav a:hover {
    background-color: #09222F;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.30);
}




main p{
    font-size: 20px;
    max-width: 100ch;  
    word-wrap: break-word;  
}

footer {
    width: 100%;
    text-align: center;
    background-color: #05445e; 
    position: fixed; 
    bottom: 0;
    z-index: 10;
}

footer > p {
    font-size: 12px; 
    color: white;
}

.formContainer {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
}

.formContainer .form-group {
    margin-bottom: 20px;
}

.formContainer label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.formContainer input[type="number"],
.formContainer input[type="submit"] {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.formContainer input[type="submit"] {
    background-color: #05445e;
    border: none;
    cursor: pointer;
    color: white;
}

.formContainer input[type="submit"]:hover {
    background-color: #5168bc;
}

@media (max-width: 768px) {
    body, html {
        padding: 0;
        margin: 0;
    }

    header, .header-top, .header-nav, .header-icons, .content-wrapper, main, .sidebar, .search-section, footer, .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
        margin: 0;
        width: 100%;
    }
    .header-icons i, .some-other-icon-container i {
        display: none;  
    }


    .header-logo, .header-title, .header-nav a, main, .sidebar, .search-section, footer {
        text-align: center;
    }

    .header-nav {
        display: none;
        justify-content: center;
    }

    .header-nav a {
        display: block;
        width: auto;
        margin-bottom: 10px;  
    }

    .content-wrapper, main, .sidebar, .search-section {
        padding: 10px;  
    }

    main, .sidebar, .search-section {
        box-shadow: none;  
    }

    .search-section input, .search-section button {
        width: 90%;  
        margin: 10px auto;  
    }

    table {
        display: block;
        overflow-x: auto;  
    }

    table, th, td {
        width: auto;  
        display: block;  
        text-align: center;  
    }

    th, td {
        padding: 8px;  
        border: 1px solid #ddd;  
    }

     
    img {
        max-width: 100%;  
        height: auto;  
    }

     
    .any-other-class {
        align-content: center;
        padding: 0 0;  
        margin: 0 0;  
        flex-direction: column;  
        padding: 10px 0;  
    }
    main > * {
        align-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;  
        width: 100%;  
        padding: 0 !important;  
        margin: 0 !important;  
    }
    main .some-class {
        display: flex;
        flex-direction: column;
        align-items: center;  
        width: 100%;  
        padding: 0 !important;  
        margin: 0 !important;  
    }
}

.mission {
    text-align: center;
    width: 50%;
    margin: auto;
}

.member-info {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    position: relative;
}

.blue-square {
    width: 800px;
    height: 500px;
    background-color: #05445e; 
    z-index: 1;
    position: relative;
}

.blue-square p {
    position: absolute;
    margin-top: 170px ;
    margin-left: 40px;
    color: white;
    right: 40%;

}

.blue-square h3 {
    position: absolute;
    margin-top: 380px ;
    margin-left: 40px;
    color: white;
}

.blue-square h2 {
    position: absolute;
    margin-top: 50px ;
    margin-left: 40px;
    color: white;
}

.blue-square h1 {
    position: absolute;
    margin-top: 100px ;
    margin-left: 40px;
    color: white;
}

.overlapping-picture {
    width: 300px;
    height: 450px;
    margin-left: -200px;
    margin-top: 150px;
    z-index: 2;
}

.overlapping-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.list {
    position: absolute;
    margin-top: 400px ;
    margin-left: 40px;
}

.list li {
    margin-top: 5px;
    margin-left: 40px;
    color: white;
}