body {
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


header{
    z-index: 10;
    position: fixed;
    width: 100%;
    height: 10%;
}
.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #05445e; 
    height: 80px;
}

.fade-effect {
    display: none;
    position: fixed; 
    top: 80;
    width: 100%;
    height: 50px;
    background: linear-gradient(to top, rgba(255,255,255,0), #E8F8F8);
    z-index: 5; 
  }
  
  .active-fade {
    display: block;
  }

  .fade-effect2 {
    display: none;
    position: fixed; 
    top: 80;
    width: 100%;
    height: 50px;
    background: linear-gradient(to top, rgba(255,255,255,0), #E8F8F8);
    z-index: 5; 
  }
  
  .active-fade2 {
    display: block;
  }
  

.logo {
    z-index: 6;
    width: 120px; 
    height: 200px;
    top: 0;
    left: 0;
    position: fixed;
    height: 20%;
}

.header-title {
    flex-grow: 1;
    text-align: center;
    font-size: 50px; 
    font-weight: bold;
    color: #fff;
}

.container {
    margin-top: 110px;
    background-color: #E8F8F8;
}

.member {
    border: 2px solid rgb(112, 135, 220);
    margin: 20px;

}

.member > * {
    margin: 20px;
}

.member > image {
    height: 50px;
    width: 50px;
}

.header-icons i {
    margin: 0 10px;
    font-size: 20px;
}
.member-info {
    transition: opacity 0.3s ease; 
}

.header-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #05445e;
    height: 40px;
    
}

.header-nav a {
    
    padding-bottom: 100px;
    margin: 0 10px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
    background-color: #0f76a2;
    padding: 10px 20px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease 0s;
}

.header-nav a:hover {
    background-color: #09222F;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.10);
}

.header-nav a.active {
    background-color: #09222F;
    color: white;
}

.content-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: #fff; 
    flex: 1;
}

main {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding-left: 100px;
    padding-top: 20px;
}
main p{
    font-size: 20px;
    max-width: 100ch;  
    word-wrap: break-word;  
}
.sidebar {
    
    width: 15%;
    height: 10;
    padding: 30px;
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background: #fff;  
}
.sidebar h3 {
    font-size: 24px;
}
.sidebar a{
    color: blue;
}
.search-section {
    text-align: center;
    width: 20%;
    padding: 30px;
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background: #fff;  
}
.search-section input{
    height: 30px;
    width: 100%;
}
.search-section button {
    margin-top: 20px;
    background-color: blue;  
    color: white;  
    padding: 10px 20px;  
    font-size: 16px;  
    border: none;  
    border-radius: 5px;  
    cursor: pointer;  
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);  
    transition: background-color 0.3s ease;  
}

.search-section button:hover {
    background-color: darkblue;  
}

.search-section button:active {
    background-color: navy;  
}

footer {
    width: 100%;
    text-align: center;
    background: white;
}

.footer-text {
    font-size: 12px;  
}

a:hover {
    text-decoration: none;
    color: #d4f1f4
}

body,
html {
    height: 100%;
    margin: 0;
    background-color: #fff;  
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: auto;  
}

.search-bar,
.patients-list {
    width: 100%;
    
    padding: 15px;
    padding-left: 100px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);  
    background-color: #fff;  
}

table {
    width: 100%;
    border-collapse: collapse;
}

table,
th,
td {
    border: 1px solid #ddd;  
}

th,
td {
    text-align: left;
    padding: 8px;
}

th {
    background-color: #f2f2f2;  
}
















@media (max-width: 768px) {
    body, html {
        padding: 0;
        margin: 0;
    }

    header, .header-top, .header-nav, .header-icons, .content-wrapper, main, .sidebar, .search-section, footer, .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
        margin: 0;
        width: 100%;
    }
    .header-icons i, .some-other-icon-container i {
        display: none;  
    }


    .header-logo, .header-title, .header-nav a, main, .sidebar, .search-section, footer {
        text-align: center;
    }

    .header-nav {
        display: none;
        justify-content: center;
    }

    .header-nav a {
        display: block;
        width: auto;
        margin-bottom: 10px;  
    }

    .content-wrapper, main, .sidebar, .search-section {
        padding: 10px;  
    }

    main, .sidebar, .search-section {
        box-shadow: none;  
    }

    .search-section input, .search-section button {
        width: 90%;  
        margin: 10px auto;  
    }

    table {
        display: block;
        overflow-x: auto;  
    }

    table, th, td {
        width: auto;  
        display: block;  
        text-align: center;  
    }

    th, td {
        padding: 8px;  
        border: 1px solid #ddd;  
    }

     
    img {
        max-width: 100%;  
        height: auto;  
    }

     
    .any-other-class {
        align-content: center;
        padding: 0 0;  
        margin: 0 0;  
        flex-direction: column;  
        padding: 10px 0;  
    }
    main > * {
        align-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;  
        width: 100%;  
        padding: 0 !important;  
        margin: 0 !important;  
    }
    main .some-class {
        display: flex;
        flex-direction: column;
        align-items: center;  
        width: 100%;  
        padding: 0 !important;  
        margin: 0 !important;  
    }
}

.mission {
    text-align: center;
    width: 50%;
    margin: auto;
}

.member-info {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    position: relative;
}

.blue-square {
    width: 800px;
    height: 500px;
    background-color: #05445e; 
    z-index: 1;
    position: relative;
}

.blue-square p {
    position: absolute;
    margin-top: 170px ;
    margin-left: 40px;
    color: white;
    right: 40%;

}

.blue-square h3 {
    position: absolute;
    margin-top: 380px ;
    margin-left: 40px;
    color: white;
}

.blue-square h2 {
    position: absolute;
    margin-top: 50px ;
    margin-left: 40px;
    color: white;
}

.blue-square h1 {
    position: absolute;
    margin-top: 100px ;
    margin-left: 40px;
    color: white;
}

.overlapping-picture {
    width: 300px;
    height: 450px;
    margin-left: -200px;
    margin-top: 150px;
    z-index: 2;
}

.overlapping-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.list {
    position: absolute;
    margin-top: 400px ;
    margin-left: 40px;
}

.list li {
    margin-top: 5px;
    margin-left: 40px;
    color: white;
}